.main-nav {

}

.main-nav__list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.main-nav__list a{
	color: $white;
}

.main-nav__toggle {
	@media (min-width: $tablet-width) {
		display: none;
	}
}

.main-nav__wrapper {
	@media (min-width: $tablet-width) {
		display: flex;
		justify-content: space-between;
		width: auto;
		margin: 0 auto;
	}
	@media (min-width: $desktop-width) {
		width: 940px;
		margin: 0 auto;
	}
}